# node modules & build
node_modules/
dist/
.cache/
.vite/

# Cloudflare tmp build folder (bei lokalem Build)
tmp/
.wrangler/state/

# Umgebungsvariablen
.dev.vars

# Typescript build artifacts
*.tsbuildinfo

# VSCode settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS & System files
.DS_Store
Thumbs.db
